$font-stack:    Helvetica, sans-serif
$primary-color: #34495e

body
  margin: 0 auto
  width: 60%
  font: 100% $font-stack
  color: $primary-color
  background: #3498db

.timer
  font-size: 100px
  font-family: 'Montserrat', sans-serif

.seconds
  font-size: 85%

#startButton
  width: 200px

form
  text-align: left
  font-size: 25px
